@charset "UTF-8";

body {
	font-family: arial;
	background-color: rgb(185, 179, 175);
}

.header {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid black;
}

h1 {
	color: rgb(255, 255, 255);
	background-color: red;
}

.headerLeft {
	float: left;
}

.headerRight {
	float: right;
}

button.user {
	font-size: 12px;
}

button {
	font-size: 10px;
}

input {
	font-size: 10px;
}

.info {
	font-family: sans-serif, serif;
	font-size: 24px;
	font-style: italic;
	 margin: auto;
}

#body {
	text-align: center;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* .clear {
	clear: both;
} */